{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "17.0.1"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "@typescript-eslint/ban-types": "off",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off"
  }
}
