{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "printWidth": 70,
  "importOrder": ["^@src/(.*)$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
